@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="body-content">

    <div class="list-container">

        <div class="action-buttons-container">
            <a class="action-button-1" href="@Url.Action("Add", "Home")">
                Add New Person
            </a>
        </div>
        <div class="list">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email Address</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                @if (Model.PersonList.Any())
                {
                    foreach (var item in Model.PersonList)
                    {
                        <tr>
                            <td>@Html.Raw($"{item.Firstname} {item.Lastname}")</td>
                            <td>@Html.Raw(item.Gender)</td>
                            <td>@Html.Raw(item.Email)</td>
                            <td>@Html.Raw(item.PhoneNumber)</td>
                            <td>
                                <a href="@Url.Action("Edit", "Home",new { id = item.Id.Value })">Edit</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="no-records-message">
                            No Records Found
                        </td>
                    </tr>
                }
            </table>
        </div>


    </div>





</div>













